<div id="calendar"></div>

<%= content_for :head do %>
<%= stylesheet_link_tag    "fullcalendar", media: "all" %>
<%= javascript_include_tag "jquery-ui.custom.min" %>
<%= javascript_include_tag "fullcalendar.min" %>
<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {

		var date = new Date();
		var d = date.getDate();
		var m = date.getMonth();
		var y = date.getFullYear();

		var calendar = $('#calendar').fullCalendar({
			editable: true,
			droppable: false, // this allows things to be dropped onto the calendar !!!
			selectable: true,
			selectHelper: true,
			select: function(start, end, allDay) {
				debugger
				var title = prompt('Event Title:');

				$.ajax({
					url: '/lessons',
					type: 'POST',
					dataType: 'json',
					data: {
						teacher_id: 2,
						lesson: {
							content: 'abc',
							student_ids: [1, 2]
						}
					}
				})
					.done(function (data) {
						debugger;
					});
				calendar.fullCalendar('renderEvent',
						{
							title: title,
							start: start,
							end: end,
							allDay: allDay
						},
						true // make the event "stick"
					);

				if (title) {
					calendar.fullCalendar('renderEvent',
						{
							title: title,
							start: start,
							end: end,
							allDay: allDay
						},
						true // make the event "stick"
					);
				}
				calendar.fullCalendar('unselect');
			},
			editable: true,
			eventClick: function(event) {
				// opens events in a popup window
				debugger;
				window.open(event.url, 'gcalevent', 'width=700,height=600');
				return false;
			},
			events: [
				{
					id: 1,
					title: 'All Day Event',
					start: new Date(y, m, 1)
				},
				{
					id: 2,
					title: 'Long Event',
					start: new Date(y, m, d-5),
					end: new Date(y, m, d-2)
				},
				{
					id: 3,
					title: 'Repeating Event',
					start: new Date(y, m, d-3, 16, 0),
					allDay: false
				},
				{
					id: 4,
					title: 'Repeating Event',
					start: new Date(y, m, d+4, 16, 0),
					allDay: false
				},
				{
					id: 5,
					title: 'Meeting',
					start: new Date(y, m, d, 10, 30),
					allDay: false
				},
				{
					id: 6,
					title: 'Lunch',
					start: new Date(y, m, d, 12, 0),
					end: new Date(y, m, d, 14, 0),
					allDay: false
				},
				{
					id: 7,
					title: 'Birthday Party',
					start: new Date(y, m, d+1, 19, 0),
					end: new Date(y, m, d+1, 22, 30),
					allDay: false
				},
				{
					id: 8,
					title: 'Click for Google',
					start: new Date(y, m, 28),
					end: new Date(y, m, 29),
					url: 'http://google.com/'
				}
			]
		});

	});
</script>
<% end %>