
<%= render 'shared/content_title', title: "User Group" %>

<!-- User list -->
<div class="col-md-6">
	<div id="groupUsersContainer">
		<%= render 'group_users' %>
	</div>
</div>

<!-- User groups -->
<div class="col-md-6">
	<div id="userGroupsContainer">

	</div>
</div>

<%= content_for :head do %>
	<%= stylesheet_link_tag "group", media: "all", "data-turbolinks-track" => true %>
<% end %>
